In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('35__welcome_survey_cleaned.csv', sep=';')
df.head()

,age,edu_level,fav_animals,fav_place,gender,hobby_art,hobby_books,hobby_movies,hobby_other,hobby_sport,...,learning_pref_teamwork,learning_pref_workshops,motivation_career,motivation_challenges,motivation_creativity_and_innovation,motivation_money_and_job,motivation_personal_growth,motivation_remote,sweet_or_salty,years_of_experience
0,<18,Podstawowe,Brak ulubionych,NaN,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,0-2
1,25-34,Średnie,Psy,Nad wodą,0.0,0,0,1,0,0,...,1,1,0,1,0,0,1,0,sweet,11-15
2,45-54,Wyższe,Psy,W lesie,0.0,0,0,1,0,0,...,1,1,0,1,0,1,1,0,salty,>=16
3,35-44,Średnie,Koty,W górach,0.0,0,1,1,0,1,...,1,1,0,1,0,1,1,0,sweet,11-15
4,35-44,Wyższe,Psy,Nad wodą,0.0,0,0,0,1,1,...,0,0,0,1,0,0,1,0,sweet,>=16